

 {{#each activitySelection}}

  <div data-activity="{{id}}" class="activity-template col l3">
    <div style="background:url({{photo}})" class="bgimg">
      <h4 class="activity-name">{{name}}</h4>
    </div>
    <span class="activity-address">{{address}}</span>
    <p class="activity-description">{{description}}</p>
    {{!-- <div class="chip">{{activity_tag}}</div> --}}
    <div class="add-btn btn btn-large blockBtn" type="submit">ADD</div>
  </div>

{{/each}} 




